scipy==1.0.1
Keras==2.1.5
tensorflow==1.5.0
scikit-image==0.13.1
matplotlib==2.1.2
jupyter==1.0.0
pandas==0.22.0
texttable==1.2.1

Cython==0.28.2
python-rtmidi==1.1.0
mido==1.2.8
mypy==0.560

pyknon==1.2
